/.idea/
/env/
/env*/
*.py[cod]
*.egg-info/
build/
dist/
.cache/
.mypy_cache/
test.py
.coverage
htmlcov/
docs/_build/
/.pytest_cache/
/sandbox/
/foobar.py
/watchfiles/*.so
/target/
/site/
# i have a pet hate of the proliferation of files in the root directory
.rustfmt.toml
